
html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.CodeMirror, section {
  display: inline-block;
  height: 100%;
  width: 49%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 60px 20px 0 20px;
}

section {
  overflow: scroll;
  width: 50%;
}


.CodeMirror {
  background-color: #f6f6f6;
  border-right: 1px solid lightgrey;
}

.cm-header { font-family: Helvetica, arial; sans-serif }
.cm-header-1 { font-size: 150%; }
.cm-header-2 { font-size: 130%; }
.cm-header-3 { font-size: 120%; }
.cm-header-4 { font-size: 110%; }
.cm-header-5 { font-size: 100%; }
.cm-header-6 { font-size: 90%; }

.markdown-body pre {
  background-color: white;
}

code {
  color: #f66;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #000;
  color: #AAA;
  padding: 10px 20px;
  z-index: 10;
}

table {
  border-spacing: 0.7rem;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.6rem;}

header h1 {font-size: 1.2em; margin: 0;}
nav {position: absolute; top:2px; left:110px;  padding: 5px;}
.icons {position: absolute; top:4px; right:60px;}
.icon {display: inline-block; width: 1.6rem; height: 1.6rem; margin: 0.3rem;}
/* For the Drop Nav */
nav ul {list-style: none;padding: 0px;margin: 0px;}
nav ul li {display: block; position: relative; float: left; border: 1px solid #000}
nav li ul {display: none;}
nav ul li a {display: block; background: #000; padding: 5px 10px 5px 10px; text-decoration: none;
         white-space: nowrap; color: #DDA155;}
nav ul li a:hover {background: #333;}
nav li:hover ul {display: block; position: absolute;}
nav li:hover li {float: none;}
nav li:hover a {background: #333;}
nav li:hover li a:hover {background: #000;}
nav #drop-nav li ul li {border-top: 0px;}
